

<h3><%= User.human_attribute_name(:name)%></h3>
<%= @user.name %>
<h3><%= User.human_attribute_name(:email)%></h3>
<%= @user.email %>
<h3><%= User.human_attribute_name(:profile)%></h3>
<%= @user.profile%>
<h3><%= User.human_attribute_name(:zipcode)%></h3>
<%= @user.zipcode%>
<h3><%= User.human_attribute_name(:address)%></h3>
<%= @user.address%>

