<h1><%= t('titles.reports') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title)%></th>
      <th><%= Report.human_attribute_name(:content)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.content %></td>
        <td><%= link_to t('views.common.show'), report_path(report.id) %></td>
        <% if current_user.id == report.user.id %>
          <td><%= link_to t('views.common.edit'), edit_report_url(report.id) %></td>
          <td><%= link_to t('views.common.destroy'), report_path(report.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.common.title_new', name: Report.model_name.human), new_report_path %>
