<p id="notice"><%= notice %></p>

<h1><%= t('titles.reports') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title)%></th>
      <th><%= Report.human_attribute_name(:content)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.content %></td>
        <td><%= link_to 'Show', user_report_path(params[:user_id], report.id) %></td>
        <% if current_user.id.to_s == params[:user_id] %>
          <td><%= link_to 'Edit', edit_user_report_url(params[:user_id], report.id) %></td>
          <td><%= link_to 'Destroy', user_reports_path(params[:user_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.common.title_new', name: Report.model_name.human), new_user_report_path %>
