<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<span class="user">投稿者 <%= link_to @report.user.name, @report.user %></span>
<span class="timestamp">
  Posted at <%= @report.created_at.strftime('%Y/%m/%d %H:%M:%S') %> 
</span>


<%= render 'comments/comment', comments: @comments %>

<%= render 'comments/form', comment: @report.comments.new %>


<%= link_to 'Edit', edit_user_report_path(params[:user_id], @report.id) %> |
<%= link_to 'Back', user_reports_path %>
