<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<span class="user"><%= link_to @report.user.name, @report.user %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(@report.created_at) %> ago.
</span>


<%= link_to 'Edit', edit_user_report_path(params[:user_id], @report.id) %> |
<%= link_to 'Back', user_reports_path %>
