<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong>
  <%= @report.content %>
</p>

<span class="user"><%= t 'views.common.created_by' %> <%= link_to @report.user.name, @report.user %></span>
<span class="timestamp">
  <%= t 'views.common.posting_time' %> 
  <%= @report.created_at.strftime('%Y/%m/%d %H:%M:%S') %> 
</span>


<%= render 'comments/comment', comments: @comments %>

<%= render 'comments/form', comment: @report.comments.new %>


<%= link_to t('views.common.edit'), edit_user_report_path(params[:user_id], @report.id) %> |
<%= link_to t('views.common.back'), user_reports_path %>
